body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #eceff1;
  user-select: none;
}
html {
  cursor: url(../img/cerdo.png), auto;
}
header {
  text-align: center;
}
header a {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  letter-spacing: 1.5px;
  cursor: url(../img/cerdo.png), auto;
}
.reiniciar button {
  padding: 10px 20px;
  color: black;
  background-color: #b0bec5;
  border-radius: 7px;
  border: solid 2px #000000;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: url(../img/cerdo.png), auto;
}
.reiniciar button:hover {
  background-color: #90a4ae;
  color: white;
  border: solid 2px black;
}
.frase {
  font-weight: bold;
  font-size: 16px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  gap: 30px;
}
form button {
  font-size: 45px;
  border: none;
  background-color: white;
  cursor: url(../img/cerdo.png), auto;
  justify-content: space-between;
  border: solid 5px #000000;
  border-radius: 100%;
  background-color: #b0bec5;
}
form button:hover {
  background-color: #90a4ae;
}
.piedra {
  padding: 10px 25px 25px 25px;
}
.papel {
  padding: 10px 20px 20px 25px;
}
.tijera {
  padding: 10px 30px 15px 25px;
}
#resultados {
  margin-top: 20px;
}
.resultadoMaquina {
  text-align: center;
  font-size: 45px;
}
.resultadoFinal {
  border: solid 3px #000000;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  background-color: #90a4ae;
  border-radius: 7px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contadorResul {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

@media (width < 400px) {
  form button {
    font-size: 20px;
  }
  .piedra {
    padding: 20px;
  }
  .papel {
    padding: 20px;
  }
  .tijera {
    padding: 20px;
  }
}
